<h2>Files</h2>

<h3 *ngIf="crumbs != 'root'">
	<a class="root" (click)="goBack()"><img class="icon" src="{{ homeIcon }}"> Root </a>
	<a >
		<img class="icon" src="{{ crumbsIcon }}"> {{crumbs}}
	</a>
</h3>

<!-- App Search Bar for the future -->
<!-- <app-search></app-search> -->

<table style="width: 100%;" cellpadding="5">
	<tbody>
	<tr style="height: 35px; text-align: left; background-color: #e40038; color: white;">
		<th style="width: 5%; height: 30px;"></th>
		<th style="width: 45%; height: 30px;">NAME 
			<button (click)="sortByName()"><img class="icon" src="{{ nameIcon }}"></button>
		</th>
		<th style="width: 10%; height: 30px;">TYPE <button (click)="sortByType()"><img class="icon" src="{{ typeIcon }}"></button></th>
		<th style="width: 10%; height: 30px;">ADDED <button (click)="sortByDate()"><img class="icon" src="{{ addedIcon }}"></button></th>
		<th style="width: 5%; height: 30px; text-align: center;">DOWNLOAD</th>
	</tr>

	<tr *ngFor="let file of files; index as fileId" (click)="openFolder(fileId)" [ngClass]="file.type == 'folder' ? 'rowLink' : ''">
		<td style="text-align: right;">
			<img class="icon" *ngIf="file.type == 'folder'" src="./assets/icons/folder.svg">
			<img class="icon" *ngIf="file.type != 'folder'" src="./assets/icons/attachment.svg">
		</td>
		<td>{{file.name}}<span *ngIf="file.type != 'folder'">.{{file.type}}</span></td>
		<td>{{file.type | uppercase }}</td>
		<td>{{file.added | date }}</td>
		<td *ngIf="file.type != 'folder'" style="text-align: center;">
			<a href="#"><img class="icon" src="./assets/icons/download.svg"></a>
		</td>
	</tr>
	</tbody>
</table>